<!DOCTYPE html>
<html lang="en" ng-app="angchat">
  <head>
    <meta charset="utf-8">
    <title>Chatter | Chat Room</title>
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <!-- <link href="assets/lib/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/common/portfolio.css" rel="stylesheet">
  </head>
  <body>

    <header class="container">
      <div id="heading" class="masthead">
        <div class="pull-right">
        	<a href="logout.html" data-bind="click: logout" class="btn">Logout<i class="icon-off"></i></a>
        </div>
        <h2>Chatter <small>Online Chat Room</small></h2>
        <div id="chatTest"> </div>
      </div>
   </header>
   
   <section class="main container">
     <div class="row">
    	<div class="col-md-12">
	   		<p class="lead">Type in the box below to start a chat!</p>
	   		
	   	</div> 
     
     </div>
   	
   	<div class="row">
   		<div class="col-md-12">
   		
   			<form role="form" id="chatForm" ng-controller="FormCtrl" ng-submit="sendMessage(chat)">
          <div class="alert alert-info notification" id="joinedChat" ng-if="latestUser" ng-animate="{enter: 'fade', leave: 'fade'}">
            {{latestUser}} has joined the chat!
          </div>
  			  <div class="form-group">
  			    <label for="to">Send To</label>
  			    <select class="form-control" id="to" name="to" ng-model="chat.to">
  			    	<option value="">Select Recipient</option>
              <option value="all">All Users</option>
  			    	<option ng-repeat="user in users" value="{{user}}">{{capitalize(user)}}</option>
  			    </select>
  			  </div>
  			  <div class="form-group">
  			    <label for="message">Message</label>
  			    <textarea class="form-control focus-on-click" name="message" placeholder="Message..." rows="3" ng-model="chat.message"></textarea>
  			  </div>
  			  <input type="submit" ng-focus="focus-on-click" name="send" class="btn btn-primary" value="Send.." />
   			</form>
   		
   		</div>
   	
   	</div>
   	
   	<div class="row">
   		<div class="col-md-12" id="chats" ng-controller="ChatCtrl">
   			<div ng-repeat="chat in chats | reverse" class="chat {{chat.direction}}" ng-class="{'broadcast': chat.broadcast}">
          <span class="from">
            {{chat.from}}
            <small ng-if="chat.broadcast">BROADCAST</small>
          </span>
          <span class="message">{{chat.message}}</span>
        </div>
   		</div>
   		
   	
   	</div>
   	
   	<div class="row">
   		<div class="col-md-12">
   	 		<div class="pull-right" ng-controller="RandomFactCtrl">{{fact}}</div>
   	 	</div>
   	</div>
   	
 
   
   </section>
   
  
    <!-- 3rd party -->
    <script src="assets/lib/jquery/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="assets/lib/bootstrap/js/bootstrap.js"></script>
    
    <script src="assets/lib/sockjs/sockjs.js"></script>
    <script src="assets/lib/stomp/dist/stomp.js"></script>

    <!-- application -->
    <script src="app.js"></script>
    <script src="chatCtrl.js"></script>
    <script src="formCtrl.js"></script>

  </body>
</html>
